@model List<CustomisableFormsApp.Models.ApplicationUser>

<h1>Users List</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Role</th>
            <th class="text-center">Email</th>
            <th class="text-center">Contact No</th>
            <th class="text-center">Registration Time</th>
            <th class="text-center">Last Login Time</th>
            <th class="text-center">Status</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var users in Model)
        {
            <tr>
                <td class="text-center">@users.Name</td>
                <td class="text-center">@string.Join(", ", users.Roles)</td>
                <td class="text-center">@users.Email</td>
                <td class="text-center">@users.PhoneNumber</td>
                <td class="text-center">@users.RegistrationTime.ToString("HH:mm:ss, dd MMM, yyyy")</td>
                <td class="text-center">@users.LastLoginTime?.ToString("HH:mm:ss, dd MMM, yyyy")</td>
                <td class="text-center">@users.Status</td>
                <td class="text-center">
                    <!-- Create a form for deletion -->
                    <form asp-controller="Home" asp-action="Delete" method="post" style="display:inline;" onsubmit="return confirm('Are you sure you want to delete this user?');">
                        @* Anti-forgery token to prevent CSRF attacks *@
                        <input type="hidden" asp-for="@users.Id" name="id" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>

                    <form asp-controller="Home" asp-action="Block" method="post" style="display:inline;" onsubmit="return confirm('Are you sure you want to block this user?');">
                        @* Anti-forgery token to prevent CSRF attacks *@
                        <input type="hidden" asp-for="@users.Id" name="id" />
                        <button type="submit" class="btn btn-danger">Block</button>
                    </form>

                    <form asp-controller="Home" asp-action="Active" method="post" style="display:inline;" onsubmit="return confirm('Are you sure you want to active this user?');">
                        @* Anti-forgery token to prevent CSRF attacks *@
                        <input type="hidden" asp-for="@users.Id" name="id" />
                        <button type="submit" class="btn btn-danger">Active</button>
                    </form>

                    <form asp-controller="Home" asp-action="AddtoAdmin" method="post" style="display:inline;" onsubmit="return confirm('Are you sure to make this user Admin?');">
                        @* Anti-forgery token to prevent CSRF attacks *@
                        <input type="hidden" asp-for="@users.Id" name="id" />
                        <button type="submit" class="btn btn-danger">AddtoAdmin</button>
                    </form>

                    <form asp-controller="Home" asp-action="RemovefromAdmin" method="post" style="display:inline;" onsubmit="return confirm('Are you sure to remove this user from Admin?');">
                        @* Anti-forgery token to prevent CSRF attacks *@
                        <input type="hidden" asp-for="@users.Id" name="id" />
                        <button type="submit" class="btn btn-danger">RemovefromAdmin</button>
                    </form>

                    <form asp-controller="Home" asp-action="CreateSalesforceAccount" method="get" style="display:inline;">
                        @* Anti-forgery token to prevent CSRF attacks *@
                        <input type="hidden" asp-for="@users.Id" name="userId" />
                        <button type="submit" class="btn btn-primary">Create Salesforce Account</button>
                    </form>

                </td>
            </tr>
        }
    </tbody>
</table>